{% extends "entries/base.html" %}
{% block content %}

<div class="toolbar">
    <form method="GET" class="filter-form">
        <div class="filter-group">
            {% for field in filter.form %}
                <div class="filter-field">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
            {% endfor %}
            <div class="filter-field">
                <label>&nbsp;</label>
                <button type="submit" class="btn btn-primary">Filter</button>
            </div>
        </div>
    </form>
    <a href="{% url 'meal-create' %}" class="btn btn-success">+ Add New Meal</a>
</div>
<div class="meals-container">
{% for meal in meals %}
    <div class="card w-100" style="max-width: 14rem;">
        <div class='img-container'>
            <img class="card-img-top" src='{{meal.get_photo_url.url }}' alt='{{ meal.name }}' width='200' height='200'>
        </div>
        <div class="card-body">
            <h5 class="card-title">
                {{ meal.name }}
            </h5>
            
            <p class="card-text">{{ meal.notes }}</p>
        </div>
        
        <div class="recipe-container">
            {% if meal.recipe %}
                <a href='{{meal.recipe}}' class='btn btn-sm btn-outline-primary recipe-btn' target='_blank'>View Recipe →</a>
            {% else %}
                <button class='btn btn-sm btn-secondary recipe-btn' disabled>No Recipe</button>
            {% endif %}
        </div>
        
        <div class="footer-links">
            <a href="{% url 'meal-update' meal.id %}" class="card-link">Edit</a>
            <a href="{% url 'meal-delete' meal.id %}" class="card-link">Delete</a>
        </div>
        
    </div>
{% endfor %}
    
</div>


{% endblock content %}








 